

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1"><title>
	特种设备作业人员考核申请表
</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
	
		function print(){
			 //var test=document.getElementsByTagName('html')[0].innerHTML; 
			 //alert(test);
//			window.location.href="http://127.0.0.1:8081/ccpx/hello/convertPdf?html=aaa";

		}
    </script>
	<style>
		td {
			border:solid ; 
			border-width:0px 1px 1px 0px; 
			padding:10px 0px;
		}
		table {
			border:solid ; 
			border-width:1px 0px 0px 1px;
		}
	</style>
</head>
<body>
    <div id="printDiv" style="page-break-after:always; align:center; margin-left: auto; margin-right: auto; width: 710px; height:850px; text-align: center; table-layout: fixed;">

				<h4>特种设备作业人员考核申请表</h4>
                
                <table  border="1" cellpadding='0' cellspacing='0' width="710px" style="font-family: 宋体">
                    <tr style='height: 30px'>
                        <td width="15%">
                          
								姓&nbsp;&nbsp;名
                        </td>
                        <td width="20%"> 
                               <span runat="server" id="Name"></span>
                           
                        </td>
                        <td width="15%"> 
                               性&nbsp;&nbsp;别
                        </td>
                        <td width="20%"> 
                                <span runat="server" id="Sex">男</span>
                        </td>
                        <td width="30%" rowspan="5" >
							<span  style='width: 130px'>
							    <img runat="server" id="Photo" style="width: 130px; height: 190px;" />
							</span>
                        </td>
                    </tr>
					<tr style='height: 30px'>
                        <td width="15%" >
                           通信地址
                        </td>
                        <td width="55%" colspan="3" style=''>
                            中国（上海）自由贸易试验区日京路35号
                        </td>
                    </tr>
                    <tr style='height: 30px'>
                        <td width="15%" >
                           学&nbsp;&nbsp;历
                        </td>
                        <td width="20%">
                            高中
                        </td>
						<td width="15%" >
                           邮政编码
                        </td>
                        <td width="20%">
                            200131
                        </td>
                    </tr>
					<tr style='height: 30px'>
                        <td width="15%" >
                           身份证号
                        </td>
                        <td width="20%">
                            <span runat="server" id="IDCard"></span>
                        </td>
						<td width="15%" >
                           联系电话
                        </td>
                        <td width="20%">
                            chachepeixun@vip.163.com
                        </td>
                    </tr>
                   <tr style='height: 30px'>
                        <td width="15%" >
                           申请考核作业种类
                        </td>
                        <td width="20%">
                            场（厂）内专用机动车辆作业
                        </td>
						<td width="15%" >
                           申请考核作业项目(代号)
                        </td>
                        <td width="20%">
                            N2
                        </td>
                    </tr>
                    <tr style='height: 30px; text-align: center;'>
                        <td width="100%" colspan="5" >
							是否委托考试机构申请办理领证手续：&nbsp; ■ 是 □ 否
                        </td>
                    </tr>
					<tr>
                        <td width="15%">
                            工作简历
                        </td>
                        <td width="85%" colspan="4">
							
							<p>&nbsp;</p>
                            <p>2015年1月——至今上海外高桥樱花旅行国际贸易有限公司</p>
							<p>&nbsp;</p>
							
                        </td>
                    </tr>
					<tr>
						<td width="15%">
                            安全教育培训和实习情况
                        </td>
                       
                        <td width="85%" colspan="4">
                            
							<div style="position:absolute;padding-left:7cm;z-index:-1">
								<img bordercolor="#000000" style="position:absolute;width:200px;height:310px" src="http://www.chachepeixun.com:20001/SignImg/GZ.png" id="yz0" />
							</div>
							
							<span runat="server" id="LoginTime1" style="line-height:5px"></span>
                            <br />
                            <span runat="server" id="LoginTime2" style="line-height:5px"></span>
                            <br />
                            <span runat="server" id="LoginTime3" style="line-height:5px"></span>
                            <br />
                            <span runat="server" id="LoginTime4" style="line-height:5px"></span>
                            <br />
                            <span runat="server" id="LoginTime5" style="line-height:5px"></span>
                            <br />
                        </td>
                    </tr>
					<tr>
						<td width="15%">
                            相关资料
                        </td>
                        
                        <td width="85%" colspan="4" >
							<p align="left" style="margin-left:5px;line-height:5px">■身份证明(复印件，2份。如是身份证需正反面复印)</p>
							<p align="left" style="margin-left:5px;line-height:5px">■照片近期2寸、正面、免冠、白底彩色照片，3张</p>
							<p align="left" style="margin-left:5px;line-height:5px">■学历证明(毕业证复印件，2份)</p>
							<p align="left" style="margin-left:5px;line-height:5px">■安全教育和培训证明(1份)</p>
							<p align="left" style="margin-left:5px;line-height:5px">■实习证明(1份)</p>
							<p align="left" style="margin-left:5px;line-height:5px">□体检报告(1份。考核大纲有要求的需提供)</p>
							<p align="left" style="margin-left:5px;line-height:5px">□其他</p>	
							<p style="line-height:20px">声明：本人对所填写的内容和所提交资料的真实性负责。</p>
						
                            <p style="margin-left:auto;display:inline">
									<div >
										申请人(签字)：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年 &nbsp;&nbsp;月 &nbsp;&nbsp;日
									</div>
                            </p>
                        </td>
                    </tr>
                </table>
                <p class="" style='margin-top: 6.0pt; '>
                    <span style='font-size: 10.5pt; '>
						注：“安全教育和培训证明、实习证明”由用人单位、专业培训机构或者实习单位提供。
					</span>
                <p class="">
                    <span >
                       &nbsp;
                    </span>
                </p>
         
    </div>
	<div id="DivPrint" style="page-break-before:always;">
        <div id="imgdiv" style="margin-left: auto; text-align: center">
            <div>
                <img runat="server"  id="ImgZ" style="width: 360px; height: 230px; margin-bottom: 20px" />
            </div>
            <div>
                <img runat="server" id="ImgB" style="width: 360px; height: 230px" />
            </div>
        </div>
    </div>
    <div id="btn_print" style="text-align: center">
        <a onclick="print()">打印</a>
    </div>
</body>
</html>
